<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.staticfile.org/vue/2.5.21/vue.min.js"></script>

</head>

<body>
    <div id="app">
        <input type="radio" name="man" v-model="sex" value="man">男人
        <input type="radio" name="woman" v-model="sex" value="woman">女人
    </div>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                sex: "man"
            }
        });
    </script>
</body>

</html>